<!--<app-ngrx></app-ngrx>-->
<!--<app-mx-graph></app-mx-graph>-->
<!--<app-icon-picker></app-icon-picker>-->
<!-- <app-color-shades></app-color-shades> -->
<!-- <app-random-shades></app-random-shades> -->
<!--<app-svgjs></app-svgjs>-->
<!--<div style="padding: 20px">-->
<!--<div style="margin-bottom: 20px">-->
<!--    <h4>ACE</h4>-->
<!-- <app-sql-editor></app-sql-editor> -->
<!--<app-popover></app-popover>-->
<!--<app-json-accordion></app-json-accordion>-->
<!-- <app-tree-chart></app-tree-chart> -->
<!--<app-nested-table> </app-nested-table>-->
<!-- <app-ace></app-ace> -->
<!-- <app-image-to-webp></app-image-to-webp>    -->
<!--<app-svg></app-svg>-->
<!--</div>-->
<!--<h4>Codemirror</h4>-->
<!-- <app-codemirror></app-codemirror> -->
 <app-venn></app-venn>
<!-- <app-svg></app-svg> -->
<!--</div>-->
<!--<div fxLayout="row">-->
<!--<app-viz></app-viz>-->
<!--<app-suburst></app-suburst>-->
<!--<div id="graph" style="text-align: center; width:inherit;height:inherit"></div>-->
<!--<app-split-resize></app-split-resize>-->
<!-- <app-canvas></app-canvas> -->
<!-- <app-custom-toastr></app-custom-toastr> -->
<!--<app-canvas></app-canvas>-->
<!--<app-doc-viewer></app-doc-viewer>-->
<!--<app-custom-presentation></app-custom-presentation>-->
<!--<app-image-bounding-box></app-image-bounding-box>-->
<!--<app-etl-canvase></app-etl-canvase>-->
<!-- <app-svg-path></app-svg-path> -->
<!-- <app-xform></app-xform>-->
 <!-- <app-fabric></app-fabric> -->
  <!-- <app-pdf-builder></app-pdf-builder> -->
 <!-- <app-rxjs-oprtators></app-rxjs-oprtators> -->
<!--<app-dynamic-datatable></app-dynamic-datatable>-->
<!-- <app-d3></app-d3> -->
<!--<app-videoplayer></app-videoplayer>-->
<!--<app-multidrag></app-multidrag>-->
<!-- <app-xslt></app-xslt> -->
<!--<app-change-detetion></app-change-detetion>-->
<!--<app-pivot-table></app-pivot-table>-->
<!--<app-table-tabindex></app-table-tabindex>-->
<!--<app-ckeditor></app-ckeditor>-->
<!--<app-table-virtual-scroll></app-table-virtual-scroll>-->
<!--<app-json-structure></app-json-structure>-->
<!--<app-topology></app-topology>-->
<!--<ul fxFlex="20">-->
<!--  <li id="item-{{item.id}}"-->
<!--      class="list-item"-->
<!--      [class.red]="el == ('item-'+item.id)" *ngFor="let item of mapping "-->
<!--      [class.mapped]="mappedObj['item-'+item.id]"-->
<!--      [class.mapped-and-selected]="(el == 'item-'+item.id && selectionWasMapped(el)) || (selectionWasMapped2(el2) && this.savedMappings[this.mappedIndex].mapping == 'item-'+item.id)"-->
<!--      (click)="doSomething($event.currentTarget)"-->
<!--  >item</li>-->
<!--</ul>-->


<!--<div fxFlex="20"></div>-->

<!--<ul  fxFlex="20">-->
<!--  <li id="alt-item-{{item.id}}"-->
<!--      class="list-item"-->
<!--      [class.red]="el2 == ('alt-item-'+item.id)" *ngFor="let item of mapping2 "-->
<!--      (click)="doSomething2($event.currentTarget)"-->
<!--      [class.mapped]="mappedObj2['alt-item-'+item.id]"-->
<!--      [class.mapped-and-selected]="(el2 == 'alt-item-'+item.id && selectionWasMapped2(el2)) || (selectionWasMapped(el) && this.savedMappings[this.mappedIndex].mapping2 == 'alt-item-'+item.id)"-->
<!--  >item</li>-->
<!--</ul>-->