p {
  font-family: Lato;
}

.red {
  background: red;
}

.mapped {
  background: green;
}

.mapped-and-selected {
  background:purple;
}

ul {
li{
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
}
}
