<!--<app-ngrx></app-ngrx>-->
<!--<app-mx-graph></app-mx-graph>-->
<!--<app-icon-picker></app-icon-picker>-->
<!--<app-color-shades></app-color-shades>-->
<!--<div style="padding: 20px">-->
<!--<div style="margin-bottom: 20px">-->
<!--    <h4>ACE</h4>-->
<!--<app-sql-editor></app-sql-editor>-->
<!--<app-svg></app-svg>-->
<!--</div>-->
<!--<h4>Codemirror</h4>-->
<!--<app-codemirror></app-codemirror>-->
<!--<app-crud></app-crud>-->
<!--</div>-->
<!--<div fxLayout="row">-->
<!--<app-viz></app-viz>-->
<!--<app-suburst></app-suburst>-->
<!--<div id="graph" style="text-align: center; width:inherit;height:inherit"></div>-->
<!--<app-split-resize></app-split-resize>-->
<!--<app-canvas></app-canvas>-->
<!--<app-canvas></app-canvas>-->
<!--<app-doc-viewer></app-doc-viewer>-->
<!--<app-custom-presentation></app-custom-presentation>-->
<!--<app-pivot-table></app-pivot-table>-->
<!--<app-table-virtual-scroll></app-table-virtual-scroll>-->
<app-json-structure></app-json-structure>
<!--<app-topology></app-topology>-->
<!--<ul fxFlex="20">-->
<!--  <li id="item-{{item.id}}"-->
<!--      class="list-item"-->
<!--      [class.red]="el == ('item-'+item.id)" *ngFor="let item of mapping "-->
<!--      [class.mapped]="mappedObj['item-'+item.id]"-->
<!--      [class.mapped-and-selected]="(el == 'item-'+item.id && selectionWasMapped(el)) || (selectionWasMapped2(el2) && this.savedMappings[this.mappedIndex].mapping == 'item-'+item.id)"-->
<!--      (click)="doSomething($event.currentTarget)"-->
<!--  >item</li>-->
<!--</ul>-->


<!--<div fxFlex="20"></div>-->

<!--<ul  fxFlex="20">-->
<!--  <li id="alt-item-{{item.id}}"-->
<!--      class="list-item"-->
<!--      [class.red]="el2 == ('alt-item-'+item.id)" *ngFor="let item of mapping2 "-->
<!--      (click)="doSomething2($event.currentTarget)"-->
<!--      [class.mapped]="mappedObj2['alt-item-'+item.id]"-->
<!--      [class.mapped-and-selected]="(el2 == 'alt-item-'+item.id && selectionWasMapped2(el2)) || (selectionWasMapped(el) && this.savedMappings[this.mappedIndex].mapping2 == 'alt-item-'+item.id)"-->
<!--  >item</li>-->
<!--</ul>-->


