<ngx-doc-viewer
        [url]="'https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__340.jpg'"
        viewer="url"
        style="width:100%;height:100vh;"
>
</ngx-doc-viewer>



<!--pdf: http://www.africau.edu/images/default/sample.pdf-->
<!--image: https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__340.jpg-->
<!--<mat-card>-->
<!--    <ul>-->
<!--        <li *ngFor="let list of arrayList; let i = index" (click)="select(i + 1, $event)">{{list}}</li>-->
<!--    </ul>-->
<!--</mat-card>-->
