/* You can add global styles to this file, and also import other style files */

//@import '~@fortawesome/fontawesome-free/less/fontawesome';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
//@import '~font-awesome/less/font-awesome';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon-grid{
  display: flex;
  justify-content: space-around;
}


.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}

.w-100{
  width: 100%;
}
.horizontal{
  cursor: var(--ninja-separator-vcursor,ew-resize) !important;
}


.dropdown, .dropup {
  position: relative;
}
.open>.dropdown-menu {
  display: block;
}
.show {
  display: block!important;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.ngx-json-viewer .segment .segment-main.expandable.expanded .toggler:after {
  content: "+" !important;
  font-size: 15px;
}

.ngx-json-viewer .segment .segment-main.expandable .toggler:after {
  content: "-" !important;
  font-size: 27px;
}

.ngx-json-viewer {
  font-family: unset !important;
  font-size: 16px !important;
}

.ngx-json-viewer .segment .segment-main .segment-key{
  color: #423f3f !important;
}
